html, body {
  box-sizing: border-box;
  background-color: #ffeead;
  height: 100%;
  margin: 0px;
}

.root {
  height: 100%;
}

.App {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr 1fr;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  height: 4em;
  background-color: orange;
}

.schedule {
  background-color: red;
  grid-row: span 2;
  border-radius: 3em;
}

.goals {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-radius: 3em;
}

.motivation {
  background-color: yellow;
  display: grid;
  grid-template-rows:auto 1fr;
  border-radius: 3em;
}

.motivation > * {
  display: flex;
}

.todo {
  background-color: green;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  border-radius: 3em;
}

.happiness {
  background-color: lightblue;
  display: grid;
  grid-template-rows:auto 1fr;
  border-radius: 3em;
}

.happiness > * {
  display: flex;
}

.title {
  grid-column: 1 / -1;
  display: flex;
  margin-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

textarea {
  resize: none;
  display: flex;
  height: 85%;
  width: calc(100% - 3em);
  grid-column: 1 / -1;
  justify-self: center;
  opacity: 50%;
  border: none;
  border-radius: 2em;
  padding-left: 1em;
}

h1 {
  align-self: center;
  margin-left: 0.5em;
  padding-bottom: 0.2em;
  text-align: center;
}

h3 { 
  padding-top: 0.25em;
  margin-left: 10px;
  margin-right: 3%;
  margin-bottom: auto;
  text-align: center;
  height: 100%;
}

p {
  margin-top: 0;
}

.completed {
  color: #222;
  text-decoration: line-through;
}

.bar {
  grid-column: 1 / -1;
  height: 1.5em;
  display: flex;
  margin-bottom: 1em;
}

.itemBar {
  display: flex;
  height: 2em;
  margin-top: 0.8em;
  margin-bottom: 0.5em;
  margin-right: auto;
}

.item {
  display: flex;
  height: 1.5em;
  grid-column: 1 / -1;
  margin-left: 0.5em;
  margin-top: 0.5em;
}

.item-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  margin-bottom: 1em;
}

input[type='text'] {
  box-sizing: border-box;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.3);
  border-radius: 1em;
  border: 0;
  opacity: 50%;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  outline: none;
  height: 1.3em;
  width: 1.3em;
  border: 2px solid black;
  border-radius: 50%;
  color: black;
  /* background-color: rgb(168, 168, 75); Add a ligher tone in the final  design */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
  inset 0em -0.75em 0.5em -0.6em rgba(0, 0, 0, 0.05);
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

input[type="checkbox"]:checked:after {
  /* content: "\2714"; */
  content: url("https://img.icons8.com/metro/10/000000/checkmark.png");
  position: absolute;
  border-radius: 50%;
  background-color: green;
  text-align: center;
  text-justify: center;
  line-height: 1em;
  font-weight: bold;
  top: 0;
  bottom: 0em;
  left: 0;
  right: 0;
}

button {
  margin-left: 2%;
  border-radius: 50%;
  opacity: 50%;
  outline: none;
}

.logo {
  width: 3em;
  height: 3em;
  align-self: center;
}

textarea:focus, input:focus{
  outline: none;
}

img {
  margin-top: 3px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hide {
  display: none;
}